@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

<MudDivider Class="my-2" />

<AuthorizeView>
    <Authorized>
        <MudNavLink Href="Account/Manage">
            Manage Account
        </MudNavLink>
        <div class="nav-item px-3">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="oi oi-home" aria-hidden="true"></span> Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <MudNavLink Href="Account/Login">
            Login
        </MudNavLink>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}