@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <br/>
    <h4>EUC Profile Buddy - User Account Management</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
